<% include partials/head %>
<section id="hero">
  <video autoplay playsinline>
    <source src="assets/man.mp4" type="video/mp4">
  </video>
  <div class="headline-layer">
    <h1 class="headlines" id="line-1">For The Man...</h1>
    <h1 class="headlines" id="line-2">Who Has <span class="underline">Better</span><br>Things To Do.</h1>
    <div class="down-arrow"></div>
  </div>
</section>

<section id="intro-text">
  <div class="fixed-width">

    <h1 class="center">"Less, but better"</h1>
    <p>
      Our core philosophy is that making fewer, high quality decisions leaves more time and energy for things that truly matter. Put simply, we believe your life is too precious to be spent thinking about clothes, so we want to help you win back time.
    </p>
    <p>
      Ideally, clothes should feel great, resist the elements, and last forever. We have looked far and wide for manufacturers who make such clothes and, luckily, there are still a few standing strong.
    </p>
    <p>
      We didn't stop there. For each type of clothing, we've asked ourselves - "what if there was just one choice?". That would certainly free up the most amount of time for you, wouldn't it?
    </p>
    <p>So here we are. Say hello to the last wardrobe you'll ever need.</p>
  </div>
</section>

<section class="product-sections" id="shirt">
  <div class="product-image-wrapper">
    <img src="/assets/mizzen.jpg" alt="" />
    <div class="product-image-cta">
      <a href="">Show me</a>
    </div>
  </div>
  <div class="product-text">
    <h2>
      The Shirt
    </h2>
    <p>
      Designed with athletes in mind, Mizzen + Main make dress-shirts you can run a marathon in. We love them because of the luxirious comfort, low maintenance (seriously, who has time for ironing?), and the brand's emphasis on fit. A functional man's dream that just happens to look great too. Bonus.
    </p>
    <ul class="features-lists">
      <li>
        <i class="fa fa-wrench fa-2x" aria-hidden="true"></i>Low maintenance
      </li>
      <li>
        <i class="fa fa-tint fa-2x" aria-hidden="true"></i>Moisture wicking
      </li>
      <li>
        <i class="fa fa-arrows-alt fa-2x" aria-hidden="true"></i>Stretch
      </li>
      <li>
        <i class="fa fa-smile-o fa-2x" aria-hidden="true"></i>Comfort
      </li>
      <li>
        <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>High quality
      </li>
    </ul>
    <a href="" class="product-cta-buttons">Show me</a>
  </div>
</section>

<section class="product-sections" id="trousers">
  <div class="product-text">
    <h2>The Trousers (a.k.a "pants")</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non hic, tempora minus repellat, eveniet, nesciunt error vero ipsa sequi necessitatibus nam cumque, voluptatem aliquam! Dicta itaque distinctio fugiat culpa atque!</p>
    <a href="" class="product-cta-buttons">Show me</a>
  </div>
  <div class="product-image-wrapper">
    <img src="https://unsplash.it/1280/900random" alt="" />
    <div class="product-image-cta">
      <a href="">Show me</a>
    </div>
  </div>
</section>

<section class="product-sections" id="shirt">
  <div class="product-image-wrapper">
    <img src="https://unsplash.it/1280/900random" alt="" />
    <div class="product-image-cta">
      <a href="">Show me</a>
    </div>
  </div>
  <div class="product-text">
    <h2>Lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non hic, tempora minus repellat, eveniet, nesciunt error vero ipsa sequi necessitatibus nam cumque, voluptatem aliquam! Dicta itaque distinctio fugiat culpa atque!</p>
    <a href="" class="product-cta-buttons">Show me</a>
  </div>
</section>

<section class="product-sections" id="socks">
  <div class="product-text">
    <h2>Lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non hic, tempora minus repellat, eveniet, nesciunt error vero ipsa sequi necessitatibus nam cumque, voluptatem aliquam! Dicta itaque distinctio fugiat culpa atque!</p>
    <a href="" class="product-cta-buttons">Show me</a>
  </div>
  <div class="product-image-wrapper">
    <img src="https://unsplash.it/1280/900random" alt="" />
    <div class="product-image-cta">
      <a href="">Show me</a>
    </div>
  </div>
</section>

<% include partials/footer %>
