<% include partials/head %>
<section id="hero">
  <video autoplay playsinline>
    <source src="assets/man.mp4" type="video/mp4">
  </video>
  <h1 class="headlines" id="line-1">For the man...</h1>
  <h1 class="headlines" id="line-2">... who has better things to do.</h1>
</section>

<section id="intro-text">
  <h1>Lorem</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, expedita, excepturi. Reiciendis saepe perspiciatis eos corrupti rem molestias repudiandae, magnam iste optio soluta ipsum quisquam hic eaque? Soluta, alias reprehenderit!</p>
</section>

<section class="product-sections right" id="shirt">
  <img src="" alt="" />
  <div class="product-headers">
    <h2>Lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non hic, tempora minus repellat, eveniet, nesciunt error vero ipsa sequi necessitatibus nam cumque, voluptatem aliquam! Dicta itaque distinctio fugiat culpa atque!</p>
  </div>

</section>
<section class="product-sections left" id="trousers">
  <img src="" alt="" />
  <div class="product-headers">
    <h2>Lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eveniet eum sunt iste laudantium eaque ipsum officia laborum est totam, ipsam maiores non praesentium dolor minima delectus impedit, quasi neque!</p>
  </div>

</section>
<section class="product-sections right" id="shirt">
  <img src="" alt="" />
  <div class="product-headers">
    <h2>Lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, amet, illum est quisquam, delectus, repudiandae laborum autem ut soluta impedit debitis doloribus magnam reiciendis voluptatem ipsa. Sint placeat repellendus adipisci?</p>
  </div>

</section>
<section class="product-sections left" id="socks">
  <img src="" alt="" />
  <div class="product-headers">
    <h2>Lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum doloribus id magnam et assumenda, nihil accusamus harum corrupti eligendi pariatur deserunt illum rerum, voluptatem unde cum aliquid nisi maxime maiores.</p>
  </div>

</section>

<% include partials/footer %>
