<% include partials/head %>
<section id="hero">
  <video src="assets/man.mp4" autoplay></video>
  <h1 class="headlines" id="line-1">For the man...</h1>
  <h1 class="headlines" id="line-2">... who has better things to do.</h1>
</section>

<% include partials/footer %>
