<% include partials/head %>
<section id="hero">
  <video autoplay playsinline>
    <source src="assets/man.mp4" type="video/mp4">
  </video>
  <div class="headline-layer">
    <h1 class="headlines" id="line-1">For the man...</h1>
    <h1 class="headlines" id="line-2">... who has <span class="underline">better</span><br>things to do.</h1>
    <div class="down-arrow"></div>
  </div>
</section>

<section id="intro-text">
  <div class="fixed-width">
    <h1 class="center">The Doing Man's Dream - Never Buy Clothes Again.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, expedita, excepturi. Reiciendis saepe perspiciatis eos corrupti rem molestias repudiandae, magnam iste optio soluta ipsum quisquam hic eaque? Soluta, alias reprehenderit!</p>
  </div>
</section>

<section class="product-sections" id="shirt">
  <div class="product-image-wrapper">
    <img src="https://unsplash.it/1280/900random" alt="" />
    <div class="product-image-cta">
      <a href="">Show me</a>
    </div>
  </div>
  <div class="product-text">
    <h2>Lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non hic, tempora minus repellat, eveniet, nesciunt error vero ipsa sequi necessitatibus nam cumque, voluptatem aliquam! Dicta itaque distinctio fugiat culpa atque!</p>
    <a href="" class="product-cta-buttons">Show me</a>
  </div>
</section>

<section class="product-sections" id="trousers">
  <div class="product-text">
    <h2>Lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non hic, tempora minus repellat, eveniet, nesciunt error vero ipsa sequi necessitatibus nam cumque, voluptatem aliquam! Dicta itaque distinctio fugiat culpa atque!</p>
    <a href="" class="product-cta-buttons">Show me</a>
  </div>
  <div class="product-image-wrapper">
    <img src="https://unsplash.it/1280/900random" alt="" />
    <div class="product-image-cta">
      <a href="">Show me</a>
    </div>
  </div>
</section>

<section class="product-sections" id="shirt">
  <div class="product-image-wrapper">
    <img src="https://unsplash.it/1280/900random" alt="" />
    <div class="product-image-cta">
      <a href="">Show me</a>
    </div>
  </div>
  <div class="product-text">
    <h2>Lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non hic, tempora minus repellat, eveniet, nesciunt error vero ipsa sequi necessitatibus nam cumque, voluptatem aliquam! Dicta itaque distinctio fugiat culpa atque!</p>
    <a href="" class="product-cta-buttons">Show me</a>
  </div>
</section>

<section class="product-sections" id="socks">
  <div class="product-text">
    <h2>Lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non hic, tempora minus repellat, eveniet, nesciunt error vero ipsa sequi necessitatibus nam cumque, voluptatem aliquam! Dicta itaque distinctio fugiat culpa atque!</p>
    <a href="" class="product-cta-buttons">Show me</a>
  </div>
  <div class="product-image-wrapper">
    <img src="https://unsplash.it/1280/900random" alt="" />
    <div class="product-image-cta">
      <a href="">Show me</a>
    </div>
  </div>
</section>

<% include partials/footer %>
