.center {
  text-align: center; }

.underline {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6, p, li, ul, ol {
  color: #323232; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

body, p, ul, li, ol, blockquote {
  font-family: 'Neuton', serif;
  font-size: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 1.75em; }

.fixed-width {
  max-width: 960px;
  margin: 0 auto; }

img {
  max-width: 100%;
  height: auto; }

#hero {
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden; }
  #hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover; }
  #hero .headlines {
    position: relative;
    z-index: 10;
    opacity: 0;
    font-size: 56px;
    margin-top: 0px;
    letter-spacing: 1px;
    font-weight: 100; }
  #hero .headline-layer {
    margin-left: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  #hero .down-arrow {
    display: inline-block;
    border: 2px solid #323232;
    height: 30px;
    width: 30px;
    border-top: none;
    border-right: none;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: rotate(-45deg); }

#line-1.fadeIn, #line-2.fadeIn {
  animation: fadeIn 3s linear;
  animation-fill-mode: forwards; }

#intro-text {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0px; }
  #intro-text h1 {
    margin-top: 0px;
    line-height: 30px;
    margin-bottom: 50px; }
  #intro-text p {
    width: 70%;
    margin: 0 auto 1em; }

.small-subhead {
  font-size: 16px; }

.product-sections {
  display: flex;
  justify-content: center; }
  .product-sections img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .product-sections .product-text {
    padding: 1.5em;
    width: 50%; }
  .product-sections .features-lists {
    padding: 0px;
    display: flex;
    flex-wrap: wrap; }
    .product-sections .features-lists li {
      list-style: none;
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 20px; }
      .product-sections .features-lists li i {
        margin-right: 20px; }

.product-image-wrapper {
  position: relative;
  width: 50%; }
  .product-image-wrapper .product-image-cta {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.4s ease-in-out; }
    .product-image-wrapper .product-image-cta a {
      color: white;
      border: 2px solid white;
      text-decoration: none;
      padding: 1em 1.5em;
      transition: all 0.2s ease-in-out; }
      .product-image-wrapper .product-image-cta a:hover {
        transition: all 0.2s ease-in-out;
        background-color: white;
        color: #323232; }
    .product-image-wrapper .product-image-cta:hover {
      transition: all 0.4s ease-in-out;
      opacity: 1;
      background-color: rgba(50, 50, 50, 0.5); }

.product-cta-buttons {
  border: 2px solid #323232;
  padding: 1em 1.5em;
  margin: 1em 0em;
  text-decoration: none;
  color: #323232;
  display: inline-block;
  transition: all 0.2s ease-in-out; }
  .product-cta-buttons:hover {
    transition: all 0.2s ease-in-out;
    background-color: #323232;
    color: white; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
